<div>
<!--     <img src="img/html.png" class="background-tag"/>
 -->    <nav id="navigation"></nav>
    <div fxFlexLayout="row">
        <div fxFlex="10%"></div>
        <div fxFlex fxLayout="column">
            <summary id="summary" fxFlex="auto" fxLayout="column"></summary><br/>
<!--             <img fxFlexAlign="start" src="img/ul.png" class="background-tag"/>
 -->            <skills id="skills" fxFlex="auto" fxLayout="column"></skills><br/>
<!--             <img fxFlexAlign="end" src="img/ulc.png" class="background-tag"/>
            <img fxFlexAlign="start" src="img/ul.png" class="background-tag"/> -->
            <exp id="exp" fxFlex="auto" fxLayout="column"></exp><br/>
<!--             <img fxFlexAlign="end" src="img/ulc.png" class="background-tag"/>
 --><!--             <projects id="projects" fxFlex="auto" fxLayout="column"></projects><br/> -->
            <about id="about" fxFlex="auto" fxLayout="column"></about><br/>
        </div>
        <div fxFlex="10%"></div>
    <!--<social id="social"></social>-->
    </div>
<!--     <img src="img/htmlc.png" style="float: right;" class="background-tag"/>
 --></div>
