<div>
    <nav id="navigation"></nav>
    <div fxFlexLayout="row">
        <div fxFlex="10%"></div>
        <div fxFlex fxLayout="column">
            <summary id="summary" fxFlex="auto" fxLayout="column"></summary>
            <skills id="skills" fxFlex="auto" fxLayout="column"></skills>
            <exp id="exp" fxFlex="auto" fxLayout="column"></exp>
            <projects id="projects" fxFlex="auto" fxLayout="column"></projects>
            <about id="about" fxFlex="auto" fxLayout="column"></about>
        </div>
        <div fxFlex="10%"></div>
    <!--<social id="social"></social>-->
    </div>
</div>
