<div>
    <nav id="navigation"></nav><br/>
    <div fxFlexLayout="row">
        <div fxFlex="10%"></div>
        <div fxFlex fxLayout="column">
            <summary id="summary" fxFlex="auto" fxLayout="column"></summary><br/>
            <skills id="skills" fxFlex="auto" fxLayout="column"></skills><br/>
            <exp id="exp" fxFlex="auto" fxLayout="column"></exp><br/>
<!--             <projects id="projects" fxFlex="auto" fxLayout="column"></projects><br/> -->
        </div>
        <div fxFlex="10%"></div>
    <!--<social id="social"></social>-->
    </div>
    <about id="about" fxLayout="column"></about>
</div>
