<div fxLayout="row" fxLayoutAlign="space-around center" class="nav-content-container">
    <div class="title" [innerHTML]="title"></div>
    <div fxFlex="20%"></div>
    <a fxFlex="10%" class="nav-button" href="#summary" [innerHTML]="summary"></a>
    <a fxFlex="10%" class="nav-button" href="#skills" [innerHTML]="skills"></a>
    <a fxFlex="10%" class="nav-button" href="#exp" [innerHTML]="exp"></a>
<!--     <a fxFlex="10%" class="nav-button" href="#projects" [innerHTML]="projects"></a>
 -->    <a fxFlex="10%" class="nav-button" href="#about" [innerHTML]="about"></a>
</div><br/><br/>
