.nav-content-container {
    background-color: #336699;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 1%;
    border: solid;
    border-color: #1a1a1a;
}

.title {
  color: #d9d9d9;
  font-family: Helvetica;
  font-size: 400%;
  margin-left: 5%;
}

a:link {
}

a:hover {
    border-style: solid;
    border-color: #336699;
}

.nav-button {
    color: #1a1a1a;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    background: linear-gradient(to right, #f2f2f2, #cccccc);
    padding: .75%;
    border-style: solid;
    border-radius: 10%;
    border-color: #d9d9d9;
}