<md-toolbar color="primary">
    <span class="title">{{title}}</span>
    <span class="fill-empty-space"></span>
    <a md-raised-button class="nav-button" routerLink="." href="#summary">{{summary}}</a>
    <a md-raised-button class="nav-button" routerLink="." href="#skills">{{skills}}</a>
    <a md-raised-button class="nav-button" routerLink="." href="#exp">{{exp}}</a>
    <a md-raised-button class="nav-button" routerLink="." href="#projects">{{projects}}</a>
    <a md-raised-button class="nav-button" routerLink="." href="#about">{{about}}</a>
</md-toolbar>
