.nav-content-container {
    background: linear-gradient(to bottom right, #3963c6, #223c77);
}

.title-img {
    width: 30%;
}

.nav-link {
    text-align: center;
}

.link-img {
    width: 60%;
}

.divider-img {
    width: 100%;
    height: 350px;
}
