<div fxFlexAlign="center">
    <div fxLayout="row">
        <div fxFlex class="section-title" [innerHTML]="listTitle"></div>
        <div fxFlex="5px" fxFlexAlign="start" class="section-divider"></div>
        <ul fxFlex="grow" class="personal-list">
            <li *ngFor="let listEntry of list">
                <div md-line fxLayout="row" class="personal-list-entry-name">
                    <div fxFlex [innerHTML]="listEntry.name">
                    </div>
                    <div fxFlex class="personal-list-entry-time" *ngIf="listEntry.time !== undefined" [innerHTML]="listEntry.time">
                    </div>
                </div><hr class="divider"/>
                <div md-line class="personal-list-entry-description" [innerHTML]="listEntry.description"></div>
                <br/><br/>
            </li>
        </ul>
    </div>
</div>
