<div fxFlexAlign="center">
    <div *ngIf="parallaxImage !== undefined" fxLayout="row" fxLayoutAlign="start center" ng2-parallax style="height: 400px;">
        <img src="{{parallaxImage}}"/>
    </div><br/>
    <div fxLayout="row" fxLayoutAlign="space-around">
        <div fxFlex class="section-title">{{listTitle}}</div>
        <div fxFlex="5px" fxFlexAlign="center" class="section-divider"></div>
        <ul fxFlex="grow" class="personal-list">
            <li *ngFor="let listEntry of list">
                <div md-line fxLayout="row" class="personal-list-entry-name">
                    <div fxFlex>
                        {{listEntry.name}}
                    </div>
                    <div fxFlex class="personal-list-entry-time" *ngIf="listEntry.time !== undefined">
                        {{listEntry.time}}
                    </div>
                </div>
                <div *ngFor="let desc of listEntry.description" md-line class="personal-list-entry-description">
                    {{desc}}
                </div>
                <br/><br/>
            </li>
        </ul>
    </div>
</div>
