html {
    background: linear-gradient(to left, #f2f2f2, #cccccc);
    background: linear-gradient(to right, #f2f2f2, #cccccc);
}

body {
    margin: 0;
}

.section-title {
    color: #336699;
    font-family: Helvetica;
    font-size: 200%;
    font-weight: bold;
}

.section-divider {
    height: 350px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #1a1a1a;
    border-radius: 10%;
}

a {
    text-decoration: none;
}

a:link {
    color: #808080;
}

a:visited {
    color: #808080;
}

.background-tag {
    width: 10%;
    height: auto;
}
